@use "../abstracts/abstract__helpers" as *;
@use "../base/base__helpers" as *;

header {
  width: 100%;
  // display: none;
  @include flex-row;
  justify-content: space-between;
  padding: 27px 50px;
  position: fixed;
  top: 0;
  z-index: 100;

  .header__logo {
    svg {
      width: 53px;
      height: 53px;
    }
  }
  .header__buttons {
    display: flex;
    button {
      @include same-hw(44px);
      outline: none;
      @include radius(15px);
      background-color: $accent--2;
      color: $white;
      border: none;
      position: relative;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
        @include same-hw(29px);
        stroke-width: 2.4px;
      }
      &:nth-child(1) {
        padding-left: 5px;
        margin-right: 12px;
      }

      &:before {
        position: absolute;
        content: "";
        @include same-hw (0px);
        outline: none;
        @include radius(0px);
        overflow: hidden;
        @include trans(background-color);
        top: 50%;
        left: 50%;
        @include same-hw(30px);
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        @include radius(50%);
      }
      &:hover {
        &:before {
          background-color: $accent;
          @include same-hw(50px);
          outline: none;
          @include radius(15px);
          opacity: 20%;
        }
      }
    }
  }
}

// animating hammenu
.ham {
padding-left: 10px;
padding-right: 10px;
padding-top: 4px;


 
  .break__game {
    height: 3px;
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    @include radius(4px);

  }
}


.ball{
  transform: translateY(12px);
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  -ms-transform: translateY(12px);
  -o-transform: translateY(12px);
}

