//todo color variables

//*** Primary Colors
$primary--1: #ffcc8f;
$primary--2: #ffdaaf;

//*** Secondary Colors

$secondary--1: #a760ff;
$secondary--2: #ca82ff;

// *** Teritary
$tertiary: #f4eee6; 

// *** Accent Color
$accent: #fcc153;

$accent--2: #fe923f;

// *** item WHite
$white: #ffffff;
