@font-face {
  font-family: "VisbyBold";
  src: url("./FONTS/VisbyBold.ttf") format("truetype");
}
@font-face {
  font-family: "VisbyMedium";
  src: url("./FONTS/VisbyMedium.ttf") format("truetype");
}
@font-face {
  font-family: "VisbyDemiBold";
  src: url("./FONTS/VisbyDemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "VisbyHeavy";
  src: url("./FONTS/VisbyHeavy.ttf") format("truetype");
}
@font-face {
  font-family: "VisbyExtraBold";
  src: url("./FONTS/VisbyExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "VisbyLight";
  src: url("./FONTS/VisbyLight.ttf") format("truetype");
}
@font-face {
  font-family: "VisbyThin";
  src: url("./FONTS/VisbyThin.ttf") format("truetype");
}
.typo--1 {
  font-size: 67.8px;
}
.typo--2 {
  font-size: 41.9px;
}
.typo--3 {
  font-size: 25.9px;
}
.typo--4 {
  font-size: 16px;
}
.typo--5 {
  font-size: 9.9px;
}
.typo__misc--1 {
  font-size: 20px;
}
.typo__misc--2 {
  font-size: 48px;
}
.typo__misc--3 {
  font-size: 44px;
}
.typo__misc--4 {
  font-size: 24px;
}
.typo__misc--5 {
  font-size: 18px;
}
.typo__misc--6 {
  font-size: 28px;
}
.typo__heading {
  font-size: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Times New Roman";
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* input[type=number] {
  -moz-appearance: textfield;
}

@-webkit-keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}

@keyframes smoothscroll1 {
  from, to {
    scroll-behavior: smooth;
  }
}
@-webkit-keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
@keyframes smoothscroll2 {
  from, to {
    scroll-behavior: smooth;
  }
}
html {
  animation: smoothscroll1 1s;
  -webkit-animation: smoothscroll1 1s;
}

html:focus-within {
  -webkit-animation-name: smoothscroll2;
          animation-name: smoothscroll2;
  scroll-behavior: smooth;
}

body {
  background-color: #f4eee6;
}

::-webkit-scrollbar {
  display: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 4px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.skeleton {
  position: relative;
  z-index: 100;
  overflow: hidden;
  border: none;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: var(--display);
  z-index: 100;
  background-color: #ffffff;
  border: none;
}

.skeleton::after {
  content: "";
  position: absolute;
  display: var(--display);
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  background-image: linear-gradient(to left, transparent, #e7e7e7, transparent);
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

@-webkit-keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 27px 50px;
  position: fixed;
  top: 0;
  z-index: 100;
}
header .header__logo svg {
  width: 53px;
  height: 53px;
}
header .header__buttons {
  display: flex;
}
header .header__buttons button {
  height: 44px;
  width: 44px;
  outline: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: #fe923f;
  color: #ffffff;
  border: none;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .header__buttons button svg {
  height: 29px;
  width: 29px;
  stroke-width: 2.4px;
}
header .header__buttons button:nth-child(1) {
  padding-left: 5px;
  margin-right: 12px;
}
header .header__buttons button:before {
  position: absolute;
  content: "";
  height: 0px;
  width: 0px;
  outline: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  overflow: hidden;
  transition: background-color, 0.3s ease-in-out;
  -webkit-transition: background-color, 0.3s ease-in-out;
  -moz-transition: background-color, 0.3s ease-in-out;
  -ms-transition: background-color, 0.3s ease-in-out;
  -o-transition: background-color, 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 30px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header .header__buttons button:hover:before {
  background-color: #fcc153;
  height: 50px;
  width: 50px;
  outline: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  opacity: 20%;
}

.ham {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
}
.ham .break__game {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.ball {
  transform: translateY(12px);
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  -ms-transform: translateY(12px);
  -o-transform: translateY(12px);
}

.circle {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 7px solid #fe923f;
  z-index: 200 !important;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.circle svg {
  color: #ffffff;
}

.circleActive {
  width: 64px;
  height: 64px;
  background-color: #fe923f;
  transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.circleActive svg {
  height: 40px;
  width: 40px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.circleRemove {
  width: 16px;
  height: 16px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.circleRemove svg {
  background: transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.frame__two {
  position: fixed;
  overflow: hidden;
  bottom: -30%;
  background-color: #a760ff;
  width: 243px;
  height: 243px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.scroll__one {
  height: 250vh;
  width: 100%;
}

.scroll__two {
  height: 500vh;
  width: 100%;
}

.menu {
  background: white;
  bottom: 0px;
  box-sizing: border-box;
  color: #091434;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  height: 100%;
  margin: 0px;
  width: 25vw;
  padding: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: left 0.9s cubic-bezier(0.6, 0, 0.4, 1) 0s, right 0.9s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  width: -382px;
  z-index: 2;
  overflow: hidden;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.menu .menu__container {
  padding: 0px 20px;
  position: relative;
}
.menu .menu__item {
  margin-top: 160px;
  position: absolute;
}
.menu .menu__item ul li {
  border-radius: 15px;
  bottom: 0px;
  color: #091434;
  cursor: unset;
  display: block;
  font-family: "VisbyHeavy";
  font-size: 28.8px;
  font-weight: 600;
  left: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  right: 0px;
  top: 0px;
  transform: translateX(28px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 44px;
  position: relative;
  transition: all, 0.3s ease-in-out;
  -webkit-transition: all, 0.3s ease-in-out;
  -moz-transition: all, 0.3s ease-in-out;
  -ms-transition: all, 0.3s ease-in-out;
  -o-transition: all, 0.3s ease-in-out;
}
.menu .menu__item ul li:hover {
  color: #ffffff;
  font-size: 31.68px;
  transform: translatex(40px);
  -webkit-transform: translatex(40px);
  -moz-transform: translatex(40px);
  -ms-transform: translatex(40px);
  -o-transform: translatex(40px);
}
.menu .menu__item ul .active {
  margin-left: 24px;
  position: relative;
}
.menu .menu__item ul .active:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #fcc153;
  top: 6px;
  left: -30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

audio {
  opacity: 0;
  visibility: hidden;
}

.marquee__container {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  left: 0px;
  overflow: hidden;
}
.marquee__container marquee {
  font-family: "VisbyHeavy";
  color: aliceblue;
  width: 100%;
  height: 100%;
  -webkit-animation: cray 10s infinite steps(50);
  animation: marquee 5s linear infinite;
  font-size: 700px;
  opacity: 30%;
  position: relative;
  animation: cray 10s infinite steps(50);
  display: inline-block;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}
.marquee__container .marquees {
  visibility: hidden;
  position: absolute;
}

@-webkit-keyframes cray {
  2% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  4% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  6% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  8% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  10% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  12% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  14% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  16% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  18% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  20% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  22% {
    font-weight: 500;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  24% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  26% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  28% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  30% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  32% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  34% {
    font-weight: 200;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  36% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  38% {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  40% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  42% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  44% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  46% {
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  48% {
    font-weight: 600;
    font-style: italic;
    text-decoration: line-through;
    text-transform: uppercase;
  }
  50% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  52% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  54% {
    font-weight: 200;
    font-style: italic;
    text-decoration: line-through;
    text-transform: none;
  }
  56% {
    font-weight: 200;
    font-style: italic;
    text-decoration: underline;
    text-transform: none;
  }
  58% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  60% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  62% {
    font-weight: 100;
    font-style: normal;
    text-decoration: underline;
    text-transform: lowercase;
  }
  64% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  66% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
  }
  68% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  70% {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  72% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  74% {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  76% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  78% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  80% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  82% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  84% {
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
    text-transform: none;
  }
  86% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: capitalize;
  }
  88% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  90% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  92% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  94% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  96% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  98% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
  }
}

@keyframes cray {
  2% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  4% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  6% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  8% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  10% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  12% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  14% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  16% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  18% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  20% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  22% {
    font-weight: 500;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  24% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  26% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  28% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  30% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  32% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  34% {
    font-weight: 200;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  36% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  38% {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  40% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  42% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  44% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  46% {
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  48% {
    font-weight: 600;
    font-style: italic;
    text-decoration: line-through;
    text-transform: uppercase;
  }
  50% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  52% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  54% {
    font-weight: 200;
    font-style: italic;
    text-decoration: line-through;
    text-transform: none;
  }
  56% {
    font-weight: 200;
    font-style: italic;
    text-decoration: underline;
    text-transform: none;
  }
  58% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  60% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  62% {
    font-weight: 100;
    font-style: normal;
    text-decoration: underline;
    text-transform: lowercase;
  }
  64% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  66% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
  }
  68% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  70% {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  72% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  74% {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  76% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  78% {
    font-weight: 100;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  80% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  82% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  84% {
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
    text-transform: none;
  }
  86% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: capitalize;
  }
  88% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  90% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  92% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  94% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  96% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  98% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
  }
}
body {
  background-color: #dcbfaf;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */